<div class="d-flex justify-content-center w-100">
  <form class="w-25" [formGroup] = "userForm" (ngSubmit)="addUser()">
    <div class="mb-3">
      <label for="userName" class="form-label">Name</label>
      <input type="text" class="form-control" id="userName" formControlName="name" />
    </div>
    <div class="mb-3">
      <label for="userEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="userEmail" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="userAge" class="form-label">Age</label>
      <input type="text" class="form-control" id="userAge" formControlName="age" />
    </div>
    <div class="mb-3">
      <label for="userAddress" class="form-label">Address</label>
      <textarea type="text" class="form-control" id="userAddress" rows="3" formControlName="address" ></textarea>
    </div>
    <div class="mb-3">
      <label for="userPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="userPassword" formControlName="password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
